@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,600&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

section {
    text-align: center;
    font-size: 14px;
}

h1 {
    font-weight: 600;
    padding-top: 2em;
}

button {
    margin-left: 15px;
    width: 70px;
    height: 2.5em;
    background-color: #EDAFB8;
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

input {
    margin-top: 20px;
    min-width: 50%;
    height: 35px;
    border: 1px solid;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 20px;
}

li {
    padding: 5px 10px;
    border: 2px solid #EDAFB8;
    border-radius: 10px;
    width: 50%;
    margin: 5px auto;;
    text-transform: capitalize;
	font-weight: 400;
}

li:hover {
    
}

ul button {
	border: none;
	float: right;
	font-weight: 800;
    color: #EDAFB8;
    background-color: white;
    height: fit-content;
}


.delete {
    display: none;
}